.input-todo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-field {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    margin: 0 20px;
    padding: 1rem 2rem;
    border-radius: 30px;
    border: none;
    width: 30%;
}

.input-submit {
    color: white;
    background-color: transparent;
    border: 0;
    transition: transform .2s;
    cursor: pointer;
}

.input-submit:hover {
    transform: scale(1.2);
}